/*GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/*COLORS*/
:root{
    --negro: #101112;
    --gris: #2A2D30;
    --blanco: #FFFFFF;
    --azul: #0a0aee;
}


body{
    background-color: var(--azul);
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}

/* HEADER Y FOOTER*/

header, footer{
    text-align: center;
    padding: 24px;
    color: var(--blanco);
    background:var(--negro);
}


.listadoCartas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 20px;
}


/*CARDS*/

.card {
    width: 300px;
    border-radius: 10px;
    background-color: var(--gris);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
    color: var(--blanco);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.card .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.card .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}